@use "../../../../../../../scss/global/colors" as *;
@use "../../../../../../../scss/utils/functions" as fn;

.detailsContainer {
  width: 100%;
  background: $white-color;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: fn.rem(30);
  margin-top: fn.rem(30);
  @media (max-width: 768px) {
    padding: fn.rem(20);
  }

  .section {
    margin-bottom: fn.rem(30);

    .sectionTitle {
      font-weight: 500;
      font-size: 16px;
      color: $sec-text;
      margin-bottom: fn.rem(30);
      line-height: 100%;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: fn.rem(30) fn.rem(20);
    width: 100%;

    @media (max-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: fn.rem(25) fn.rem(15);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      gap: fn.rem(20);
    }

    &.educationGrid {
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .infoGroup {
    display: flex;
    flex-direction: column;
    gap: fn.rem(8);

    .label {
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: $primary-text;
      line-height: 100%;
    }

    .value {
      font-weight: 500;
      font-size: 16px;
      color: $primary-text;
      line-height: 100%;
      word-break: break-word;
    }
  }

  .divider {
    border: none;
    border-top: 1px solid rgba(33, 63, 125, 0.1);
    margin: 30px 0 30px 0;
  }
}
