@use "../../scss/global/colors" as *;
@use "../../scss/utils/functions" as fn;

.docsPage {
  padding: fn.rem(40) fn.rem(60);
  max-width: fn.rem(900);
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: fn.rem(20);
  }
}

.backLink {
  display: flex;
  align-items: center;
  gap: fn.rem(10);
  text-decoration: none;
  margin-bottom: fn.rem(30);

  span {
    color: $sec-text;
    font-size: fn.rem(14);
  }

  &:hover span {
    text-decoration: underline;
  }
}

.header {
  margin-bottom: fn.rem(40);

  h1 {
    color: $sec-text;
    font-size: fn.rem(24);
    font-weight: 600;
    margin-bottom: fn.rem(10);
  }

  p {
    color: $primary-text;
    font-size: fn.rem(16);
  }
}

.section {
  margin-bottom: fn.rem(35);

  h2 {
    color: $sec-text;
    font-size: fn.rem(18);
    margin-bottom: fn.rem(15);
    border-bottom: 1px solid rgba($sec-text, 0.1);
    padding-bottom: fn.rem(10);
  }

  p {
    color: $primary-text;
    line-height: 1.6;
    margin-bottom: fn.rem(10);
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      color: $primary-text;
      margin-bottom: fn.rem(12);
      line-height: 1.5;

      strong {
        color: $sec-text;
        font-weight: 600;
      }
    }
  }
}

.infoBox {
  background: rgba($btn-color, 0.05);
  padding: fn.rem(20);
  border-radius: fn.rem(8);
  border-left: 4px solid $btn-color;

  p {
    margin-bottom: fn.rem(8);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
