@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");

$base-font: "Work Sans", "Avenir Next", sans-serif !default;
$heading-font: "Avenir Next", "Work Sans", sans-serif;
