@use "../../../scss/global/colors" as *;
@use "../../../scss/utils/functions" as fn;

.dropdown {
  position: absolute;
  width: fn.rem(180);
  height: fn.rem(130);
  background: $white-color;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: fn.rem(4);
  padding: fn.rem(10) 0;
  z-index: 10;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: fn.rem(10);
  padding: fn.rem(10) fn.rem(20);
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  color: $primary-text;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(33, 63, 125, 0.05);
    color: $sec-text;
  }

  span {
    white-space: nowrap;
  }
}
